In [2]:
x=8
y=3.2
z=8j + 18
a="Hello World"
b= True
c=23 < 22
l= [1,2,3,4]
d= {"Name": "Jake",
    "Age" : "27",
    "Adress" : "Downtown"}
t= ("Machine Learning", "Data Science")
s= {"Pyton", "Machine Learning", "Data Science"}

In [3]:
type (x)

int

In [4]:
type (x,y,z,a,b,c,l,d,t,s)

<class 'TypeError'>: type() takes 1 or 3 arguments

In [5]:
type(x,y,z)

<class 'TypeError'>: type.__new__() argument 1 must be str, not int

In [6]:
type(z)

complex

In [7]:
type(z)

complex

In [8]:
type(y)

float

In [9]:
type(a)

str

In [10]:
type(b)

bool

In [11]:
type(l)

list

In [12]:
type(d)

dict

In [13]:
type(t)

tuple

In [14]:
type(s)

set

In [15]:
text= "The goal is to turn data into iformation, and information into insight"
"The goal is to turn data into iformation, and information into insight".upper ()

'THE GOAL IS TO TURN DATA INTO IFORMATION, AND INFORMATION INTO INSIGHT'

In [16]:
"THE GOAL IS TO TURN DATA INTO IFORMATION, AND INFORMATION INTO INSIGHT".split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'IFORMATION,',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [20]:
lst= ["D","A","T","A","S","C","I","E","N","C","E"]
eleman_sayisi= len(lst)
print (f"Listenin eleman sayısı: {eleman_sayisi}")

Listenin eleman sayısı: 11

In [21]:
print ("Listenin eleman sayisi: {}".format(eleman_sayisi))

Listenin eleman sayisi: 11

In [25]:
sifirinci_eleman= lst[0]
onuncu_eleman= lst[10]
print("sıfırıncı eleman:", sifirinci_eleman)
print("onuncu eleman:", onuncu_eleman)

sıfırıncı eleman: D
onuncu eleman: E

In [26]:
alt_liste= lst[0:4]
print("alt liste:", alt_liste)

alt liste: ['D', 'A', 'T', 'A']

In [27]:
del lst[8]
print("güncellenmiş liste:",lst)

güncellenmiş liste: ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [28]:
sekizinci_eleman=lst[8]
print("sekizinci eleman:", sekizinci_eleman)

sekizinci eleman: C

In [29]:
lst.append("x")
print("güncellenmiş liste:", lst)

güncellenmiş liste: ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'x']

In [30]:
lst.insert(8,"N")
print("güncellenen liste:", lst)

güncellenen liste: ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'x']

In [31]:
dict= {"Christian": ["America",18],
      "Daisy": ["England", 22],
      "Antonio":["Spain",22],
      "Dante": ["Italy",25]}

In [32]:
my_dict = {"Christian": ["America",18],
      "Daisy": ["England", 22],
      "Antonio":["Spain",22],
      "Dante": ["Italy",25]}
keys= my_dict.keys()
print("Key Değerleri:", list(keys))

Key Değerleri: ['Christian', 'Daisy', 'Antonio', 'Dante']

In [33]:
values= my_dict.values()
print("Values Değerleri:", list(values))

Values Değerleri: [['America', 18], ['England', 22], ['Spain', 22], ['Italy', 25]]

In [34]:
daisy_values= my_dict["Daisy"]
print("Daisy Değerleri:", daisy_values)

Daisy Değerleri: ['England', 22]

In [36]:
my_dict["Ahmet"] = ["Turkey", 24]
print ("Güncellenmiş Liste:", my_dict)

Güncellenmiş Liste: {'Christian': ['America', 18], 'Daisy': ['England', 22], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [43]:
my_dict = {
    "Christian": ["America", 18],
    "Daisy": ["England", 22],
    "Antonio": ["Spain", 22],
    "Dante": ["Italy", 25],
    "Ahmet": ["Turkey", 24] 
} 
del my_dict ["Antonio"]
print("Güncel Liste:"), my_dict

Güncel Liste:

(None,
 {'Christian': ['America', 18],
  'Daisy': ['England', 22],
  'Dante': ['Italy', 25],
  'Ahmet': ['Turkey', 24]})

In [66]:
def ayir_tek_cift(sayi_listesi):
    
    cift_sayilar = []
    tek_sayilar = []

   
    for sayi in sayi_listesi:
        if sayi % 2 == 0:
            
            cift_sayilar.append(sayi)
        else:
        
            tek_sayilar.append(sayi)
    
    return cift_sayilar, tek_sayilar

l = [2, 13, 18, 93, 22]

cift_sayilar, tek_sayilar = ayir_tek_cift(l)

print("Çift sayılar:", cift_sayilar)
print("Tek sayılar:", tek_sayilar)

Çift sayılar: [2, 18, 22]
Tek sayılar: [13, 93]

In [68]:
ogrenciler= ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
print("Mühendislik Fakültesi Ögrecileri:")
for index, isim in enumerate(ogrenciler[:3], start=1):
    print(f"{index}.{isim}")
print("\nTıp Fakültesi Ögrencileri:")
for index,isim in enumerate(ogrenciler[3:], start=1):
    print(f"{index}.{isim}")

Mühendislik Fakültesi Ögrecileri:
1.Ali
2.Veli
3.Ayşe

Tıp Fakültesi Ögrencileri:
1.Talat
2.Zeynep
3.Ece

In [70]:
ders_kodu=["CMO1005","PSY1001","HUK1005","SEN2204"]
kredi= [3,4,2,4]
kontenjan=[30,75,150,25]
ders_bilgileri= zip(ders_kodu, kredi,kontenjan)
print("Ders Bilgileri:")
for ders, kredi, kontenjan in ders_bilgileri:
    print(f"Ders Kodu:{ders}, Kredi:{kredi}, Kontenjan:{kontenjan}")

Ders Bilgileri:
Ders Kodu:CMO1005, Kredi:3, Kontenjan:30
Ders Kodu:PSY1001, Kredi:4, Kontenjan:75
Ders Kodu:HUK1005, Kredi:2, Kontenjan:150
Ders Kodu:SEN2204, Kredi:4, Kontenjan:25

In [72]:
kume1= set(["data","pyton"])
kume2= set(["data","function","qcut","lambda","pyton","miuul"])
def kontrol_et_ve_yazdir(kume1, kume2):
    if kume1.issuperset(kume2):
        ortak_elemanlar= kume1.intersection(kume2)
        print("Ortak Elemanlar:", ortak_elemanlar)
    else:
        fark= kume2.difference(kume1)
        print("Kume2'nin Küme1'den Frakı:",fark)
kontrol_et_ve_yazdir(kume1, kume2)

Kume2'nin Küme1'den Frakı: {'miuul', 'lambda', 'qcut', 'function'}

In [75]:
import seaborn as sns
df= sns.load_dataset("car_crashes")
modified_vars= [f"NUM{col.upper()}" for col in df.columns]
print(modified_vars)

<class 'ModuleNotFoundError'>: No module named 'seaborn'

In [77]:
!pip install seaborn

<class 'OSError'>: Not available

In [79]:
import pandas as pd

# Örnek veri seti oluştur
data = {
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Population': [8175133, 3792621, 2695598],
    'Area': [468.9, 503, 227.6]
}

# Veri çerçevesini oluştur
df = pd.DataFrame(data)

# Tüm değişken isimlerini büyük harfe çevir ve başına 'NUM' ekle
modified_vars = [f"NUM{col.upper()}" for col in df.columns]

# Sonuçları yazdır
print(modified_vars)

['NUMCITY', 'NUMPOPULATION', 'NUMAREA']

In [87]:
import pandas as pd

# Örnek veri seti oluştur
data = {
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Population': [8175133, 3792621, 2695598],
    'Area': [468.9, 503, 227.6],
    'No_of_crashes': [500, 300, 200]
}

# Veri çerçevesini oluştur
df = pd.DataFrame(data)

# İsminde "no" barındırmayan değişken isimlerini belirle ve sonuna "FLAG" ekle
modified_vars = [f"{col.upper()}FLAG" for col in df.columns if "no" not in col.lower()]

# Sonuçları yazdır
print(modified_vars)

['CITYFLAG', 'POPULATIONFLAG', 'AREAFLAG']

In [88]:
import pandas as pd

# Örnek veri çerçevesini oluştur
data = {
    'abbrev': ['NY', 'LA', 'CHI'],
    'no_previous': [0, 1, 0],
    'age': [25, 30, 22],
    'income': [50000, 60000, 55000]
}

# Veri çerçevesini oluştur
df = pd.DataFrame(data)

# Verilen liste
og_list = ["abbrev", "no_previous"]

# orijinal veri çerçevesindeki sütun isimleri
all_columns = df.columns

# Farklı olan sütun isimlerini seç
different_columns = [col for col in all_columns if col not in og_list]

# Yeni DataFrame oluştur
new_df = df[different_columns]

# Sonuçları yazdır
print("Farklı olan sütun isimleri:", different_columns)
print("Yeni DataFrame:")
print(new_df)

Farklı olan sütun isimleri: ['age', 'income']
Yeni DataFrame:
   age  income
0   25   50000
1   30   60000
2   22   55000